/* src/components/footer/Footer.css */

/* Background and general layout styles */
.footer-container {
  background-color: #232631;
  color: #ffffff;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Left section styles */
.footer-left {
  flex: 1;
  max-width: 300px;
  text-align: left; /* Align all text in this section to the left */
}

.logo-container {
  display: flex;
  align-items: center; /* Align logo and text horizontally */
}

.footer-logo {
  width: 30px;
  margin-right: 10px; /* Space between logo and "Alpine Ascents" */
  margin-left: 2px;
}

.footer-logo-font {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.footer-copyright {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 10px; /* Add space below logo and text */
}

/* Right section styles */
.footer-right {
  display: flex;
  justify-content: space-between;
  flex: 2;
  max-width: 700px;
  margin-top: -20px;
  flex-wrap: wrap;
  text-align: left; /* Align all text in this section to the left */
}

.footer-menu,
.footer-history,
.footer-social-media {
  margin-right: 40px;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #7ccfef;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack the footer-left and footer-right sections */
    align-items: flex-start;
  }

  .footer-right {
    max-width: 100%; /* Allow footer-right to take full width on small screens */
    margin-top: 20px; /* Add space above the right section */
  }

  .footer-left {
    max-width: 100%; /* Allow footer-left to take full width on small screens */
    margin-bottom: 20px; /* Add space below the left section */
  }
}
